header {
  position: absolute;  
  z-index: 20;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  transform: translateY(20px);
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;
  user-select: none;
}

header .left-part .logo {
  width: 70%;
  max-width: 300px;
}

header .menu-btn {
  position: relative;
  z-index: 21;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 55px;
  height: 50px;
  padding: 8px 8px;
}

header .menu-btn .bar {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #FFFFFF;
  transition: background-color 300ms ease-in-out, opacity 200ms ease-in-out,  300ms ease-in-out, transform 300ms ease-in-out;
}

header .menu-btn .bar:nth-child(1) {
  width: 80%;
}

header .menu-btn .bar:nth-child(2) {
  width: 55%;
}

header .menu-btn .bar:nth-child(3) {
  width: 97%;
}

header .menu-btn:hover .bar:nth-child(1), 
header .menu-btn:hover .bar:nth-child(2), 
header .menu-btn:hover .bar:nth-child(3) {
  width: 100%;
}

header .menu-btn.active .bar {
  background-color: #E62B1E;
}

header .menu-btn.active .bar:nth-child(1) {
  width: 100%;
  transform: translateY(11px) rotateZ(45deg);
}

header .menu-btn.active .bar:nth-child(2) {
  opacity: 0;
}

header .menu-btn.active .bar:nth-child(3) {
  width: 100%;
  transform: translateY(-11px) rotateZ(-45deg);
}

header nav {
  display: none;
  transition: opacity 500ms ease-in-out;
}

header nav.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000F4;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  opacity: 0;
}

header nav.active .item {
  padding: 10px 20px;
}

header nav .item {
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

header nav .item.button {
  padding: 10px 15px;
  margin-left: 0;
  margin-top: 30px;
  border-radius: 30px;
  background-color: #000000;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  color: #E62B1E;
  border: 2px solid #E62B1E;
}

header nav .item.button:hover {
  background-color: #E62B1E;
  color: #FFFFFF;
}

header nav .item:hover {
  color: #E62B1E;
}

@media only screen and (min-width: 900px) {
  header {
    padding: 20px 100px;
  }

  header .menu-btn {
    display: none;
    top: auto;
    left: auto;
  }
  header nav {
    display: flex;
  }

  header nav .item.button {
    margin-left: 60px;
    margin-top: 0;
    background-color: #00000000;
  }
}