section.main {
  margin-top: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

section.main .sequence-animation {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}

section.main .sequence-animation .text {
  font-size: 6rem;
  white-space: nowrap;
  letter-spacing: 10px;
  transform-style: preserve-3d;
}

section.main .sequence-animation .text span {
  display: inline-block;
	perspective: 1000px;
  transform-origin: 50% 50%;
  display: inline-block;
	color: hsla(0,0%,0%,0);
	transform-style: preserve-3d;
	transform: translate3d(0,0,0);
}
section.main .sequence-animation .text span.blank {
  margin-left: 33px;
}
section.main .sequence-animation .text span.strike {
  text-decoration: line-through;
}
section.main .sequence-animation .text span.large {
  font-weight: 700;
  font-size: 6.5rem;
}
section.main .sequence-animation .text span.large.white {
  color: #FFFFFF !important;
}

section.main .go-down {
  position: absolute;
  background: #00000000 url("../assets/next.svg") no-repeat center;
  background-size: contain;
  width: 50px;
  height: 50px;
  bottom: 10px;
  left: calc(50% - 25px);
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  animation: animate-arrow-1 1s ease-in-out infinite;
}

section.main .go-down::before, .go-down::after {
  position: relative;
  display: block;
  content: '';
  background: #00000000 url("../assets/next.svg") no-repeat center;
  background-size: contain;
  width: 50px;
  height: 50px;
  bottom: 40px;
  opacity: 0.2;
  animation: animate-arrow-3 1s ease-in-out infinite 0.1s;
}

section.main .go-down::after {
  opacity: 0.5;
  bottom: 70px;
  animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
}

@keyframes animate-arrow-1 {
  0%{transform:translateY(-80px);opacity: 0;}
  70%,100%{transform:translateY(0px);opacity: 1;}
}
@keyframes animate-arrow-2 {
  0%{transform:translateY(-20px);opacity: 0;}
  70%,100%{transform:translateY(0px);opacity: 0.5;}
}
@keyframes animate-arrow-3 {
  0%{transform:translateY(-20px);opacity: 0;}
  70%,100%{transform:translateY(0px);opacity: 0.3;}
}

@media only screen and (min-width: 900px) {
  
}

@keyframes FadeShow {
  0% {
    text-shadow: 0 0 50px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: inherit;
		opacity: 0.8;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.8;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
    text-shadow: 0 0 10px #fff;
		opacity: 0;
		transform: translateZ(110px);
		pointer-events: none;
	}
}

@keyframes FadeShowInverted {
  0% {
    text-shadow: 0 0 50px #E62B1E;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
    text-shadow: 0 0 1px #E62B1E;
    letter-spacing: inherit;
		opacity: 0.8;
		transform: rotateY(180deg);
	}
	85% {
    text-shadow: 0 0 1px #E62B1E;
		opacity: 0.8;
		transform: rotateY(180deg) translateZ(100px);
	}
	100% {
    text-shadow: 0 0 10px #E62B1E;
		opacity: 0;
		transform: rotateY(180deg) translateZ(110px);
		pointer-events: none;
	}
}

@keyframes FadeShowRed {
  0% {
		text-shadow: 0 0 50px #E62B1E;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #E62B1E;
		letter-spacing: inherit;
		opacity: 0.8;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #E62B1E;
		opacity: 0.8;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #E62B1E;
		opacity: 0;
		transform: translateZ(110px);
		pointer-events: none;
	}
}

@media only screen and (max-width: 1000px) {
  section.main .sequence-animation .text {
    font-size: 4rem;
  } 
  section.main .sequence-animation .text span.large {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 700px) {
  section.main .sequence-animation .text {
    font-size: 2.5rem;
    letter-spacing: 4px;
  } 
  section.main .sequence-animation .text span.large {
    font-size: 2.8rem;
  }
  section.main .sequence-animation .text span.blank {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 460px) {
  section.main .sequence-animation .text {
    font-size: 1.7rem;
    letter-spacing: 0;
  } 
  section.main .sequence-animation .text span.large {
    font-size: 2rem;
  }
  section.main .sequence-animation .text span.blank {
    margin-left: 5px;
  }
}